.formContainer {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(#feaf00, #f8d442);
}
form {
  width: 30%;
  background-color: #fff;
  border-radius: 16px;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form > input,
form > button {
  width: 80%;
  height: 8%;
}
.login {
  background-color: #feaf00;
  border: none;
  color: #fff;
  border-radius: 12px;
}
input {
  margin: 3px 0;
}
.bef::before {
  content: "";
  border: 5px solid #f8d442;
  margin: 0 10px;
}
.bef {
  margin: 10px 0;
}
.inppp {
  text-align: center;
  border-radius: 6px;
  border: 1px solid #999696;
}
button {
  cursor: pointer;
}
